.wd-titles{
width:65%;
}
.wd-search-image{
width:28%;
}
.wd-commentContainer{

padding-left:30px;
}
.wd-commentContainer2{

padding-left:40px;
}
.wd-commentContainer3{
overflow:hidden;
white-space: nowrap;

}


.wd-line{
    color: rgb(110, 118, 125);
    border-width: 1px;
}

.wd-privacyLock{
    width: 150px;
    height: 150px;
    filter: invert(100%);
}
.wd-navLabels{
    font-size: 12px;
    display: inline;
}

.wd-profileInfo{
width:75%;


}
.wd-specialList{
list-style-type: none;

}
.wd-container{
overflow:hidden;
}
.wd-profileButtons{
width:25%;

}
.wd-profileContainer{
width:100%
}
.wd-boxOutline{
padding:6px;
 border-color: white;
 border-width: 1px;
 border-style: solid;
}
.wd-inputColor{
background-color:rgb(47, 51, 54);
}
.wd-commentBox{

    padding-left:2%;
    width:100%;
    color:white;
    background-color:black;
    border-color: rgb(47, 51, 54);
    border-width: 1px;
    border-style: solid;

}
.wd-articleImageBox{
width:100%;
}



/*  XL and over only */
@media (min-width: 1400px) {


}

/* up to L only */
@media (max-width: 1200px) {
    .wd-navlinks2{
        display: none;
    }


}

/* up to M only */
@media (max-width: 992px) {

  .wd-navLabels{
    display: none;
  }


  .wd-navlinks2{
    display: none;
  }


}
/* up to S only */

@media (max-width: 768px) {
    .wd-links2{
       display: none;
    }
    .wd-navlinks2{
           display: none;
        }

}